.footer__column-link {
  font-style: normal;
  text-decoration: none;
  color: #fff;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  transition: 0.5s;
}

.footer__column-link:hover {
  opacity: 0.4;
}
